<main>
	<div class="title">
		<h1><i class="fa fa-bar-chart"></i>Dashboard</h1>
	</div>
	<ul class="breadcrumb">
		<li><a href="">Home</a></li>
	</ul>
	<div class="content">
		<h2><i class="fa fa-rocket"></i> Active Course</h2>
		<div class="thumbnail-course">
			<h3>Web Design</h3>
		</div>
		<h2><i class="fa fa-cubes"></i> All Created Courses</h2>
	</div>
</main>