<div class="login row">
	<h1 class="col-md-6">Trefoil&nbsp;Solutions</h1>
	<form action="" class="col-md-6">
		<input type="text" placeholder="username">
		<input type="password" placeholder="password">
		<input type="submit" value="Log In">
	</form>
</div>
